In [32]:
from constructor.db import Collection
from constructor.table import Table
import pandas as pd
import numpy as np # linear algebra
import matplotlib.pyplot as plt
plt.style.use('ggplot')

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import RandomizedSearchCV

from keras.models import Sequential
from keras import layers
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.wrappers.scikit_learn import KerasClassifier

import os
import warnings
warnings.filterwarnings(action='once')

## To simulate big data and RAM problems, additional libraries are used.
Making this mandatory part possible was achieved using Pandas and the PyTables library. The code below initiates a Table class which contains the following functions: 
```python
class Table:
    def __init__(self, csv_file, hdf_file, hdf_key, df_cols_to_index=True):
        self.csv_file = csv_file
        self.hdf_file = hdf_file
        self.hdf_key = hdf_key
        self.df_cols_to_index = df_cols_to_index

    def store(self):
        # Delete hdf file if it exists already.
        if path.exists(self.hdf_file):
            try:
                remove(self.hdf_file)
            except OSError:
                pass
        store = pd.HDFStore(self.hdf_file)
        for chunk in pd.read_csv(self.csv_file, chunksize=500000):
            # don't index data columns in each iteration
            store.append(self.hdf_key, chunk, data_columns=self.df_cols_to_index, index=False)
        # index data columns in HDFStore
        store.create_table_index(self.hdf_key, columns=self.df_cols_to_index, optlevel=9, kind='full')
        store.close()
        return store
```

Using this function a HDF file is generated based on a CSV-input file which also spawns a DataFrame.

In [33]:
review_table = Table('hotel-reviews.csv', './data/table.h5', 'hotel_reviews')
review_table.store()

ValueError: The file './data/table.h5' is already opened, but in read-only mode.  Please close it before reopening in append mode.

### Sentiment int, additional field indicating a positive Review 1, or a negative review 0
To add the sentiment column to the dataframe, it's mandatory to split the positve and negative reviews first. Therefore the reviews are split based on the Reviewer's score. Above 5.4 is positive and below 5.5 is negative. These df's will be concatinated back later on.

In [3]:
positive = review_table.query('Reviewer_Score > 5.4')
positive['Sentiment'] = 1
negative = review_table.query('Reviewer_Score < 5.5')
negative['Sentiment'] = 0

/Users/joost/collector/hva-data-scientist/lib/python3.7/site-packages/tables/leaf.py:414: PerformanceWarning: The Leaf ``/hotel_reviews/_i_table/Negative_Review/sorted`` is exceeding the maximum recommended rowsize (104857600 bytes);
be ready to see PyTables asking for *lots* of memory and possibly slow
I/O.  You may want to reduce the rowsize by trimming the value of
dimensions that are orthogonal (and preferably close) to the *main*
dimension of this leave.  Alternatively, in case you have specified a
very small/large chunksize, you may want to increase/decrease it.
  PerformanceWarning)
/Users/joost/collector/hva-data-scientist/lib/python3.7/site-packages/tables/leaf.py:414: PerformanceWarning: The Leaf ``/hotel_reviews/_i_table/Positive_Review/sorted`` is exceeding the maximum recommended rowsize (104857600 bytes);
be ready to see PyTables asking for *lots* of memory and possibly slow
I/O.  You may want to reduce the rowsize by trimming the value of
dimensions that are orthogonal (and preferably close) to the *main*
dimension of this leave.  Alternatively, in case you have specified a
very small/large chunksize, you may want to increase/decrease it.
  PerformanceWarning)

### To achieve the requested structure, both the Positive and Negative reviews should be available under Review_Text. Therefore the columns are renamed and the opposite columns will be dropped.

In [4]:
positive.rename(columns={'Positive_Review': 'Review_Text'}, inplace=True)
positive.drop("Negative_Review", axis=1)
negative.rename(columns={'Negative_Review': 'Review_Text'}, inplace=True)
negative.drop("Positive_Review", axis=1)

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Review_Text,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Sentiment
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,0
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,0
6,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Cleaner did not change our sheet and duvet ev...,33,1403,18,6,4.6,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",17 days,52.360576,4.915968,0
12,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/6/2017,7.7,Hotel Arena,United Kingdom,The floor in my room was filfy dirty Very bas...,28,1403,6,7,4.6,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",28 days,52.360576,4.915968,0
21,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/12/2017,7.7,Hotel Arena,France,Our room was an overrated disaster room 231 d...,92,1403,75,12,3.8,"[' Couple ', ' Duplex Double Room ', ' Stayed ...",52 days,52.360576,4.915968,0
22,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/10/2017,7.7,Hotel Arena,Germany,Sadly I cannot say that the rooms are clean e...,364,1403,37,21,5.4,"[' Leisure trip ', ' Family with young childre...",54 days,52.360576,4.915968,0
32,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/11/2017,7.7,Hotel Arena,United States of America,Our bathroom had an urine order Shower was ve...,68,1403,0,1,4.2,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",84 days,52.360576,4.915968,0
42,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,4/14/2017,7.7,Hotel Arena,Switzerland,Hotel is going through a major construction r...,110,1403,15,4,2.9,"[' Business trip ', ' Solo traveler ', ' Large...",111 day,52.360576,4.915968,0
44,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,4/5/2017,7.7,Hotel Arena,United States of America,The service was awful They refused to take ow...,26,1403,11,1,3.3,"[' Leisure trip ', ' Group ', ' Large King Roo...",120 day,52.360576,4.915968,0
46,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,4/5/2017,7.7,Hotel Arena,United Kingdom,The hotel is under construction which was nev...,315,1403,3,7,4.2,"[' Leisure trip ', ' Couple ', ' Duplex Double...",120 day,52.360576,4.915968,0
49,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,3/22/2017,7.7,Hotel Arena,United Arab Emirates,Service horrible Pillows super stiff and big ...,53,1403,4,2,5.4,"[' Business trip ', ' Couple ', ' Large King R...",134 day,52.360576,4.915968,0
60,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2/6/2017,7.7,Hotel Arena,Malaysia,The place is completely mismanaged The proper...,144,1403,5,6,4.6,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",178 day,52.360576,4.915968,0
80,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,11/15/2016,7.7,Hotel Arena,Rwanda,The hotel is being renovated Which means that...,37,1403,18,10,5.4,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",261 day,52.360576,4.915968,0
90,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,10/24/2016,7.7,Hotel Arena,France,Even allowing for the hotel being under major...,119,1403,4,21,4.2,"[' Leisure trip ', ' Couple ', ' Large King Ro...",283 day,52.360576,4.915968,0
92,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,10/12/2016,7.7,Hotel Arena,United Kingdom,In a terrible state with builders everywhere ...,42,1403,5,1,5.0,"[' Business trip ', ' Couple ', ' Duplex Doubl...",295 day,52.360576,4.915968,0
93,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,10/11/2016,7.7,Hotel Arena,Finland,So lets start from the weird thing that happe...,264,1403,81,16,4.2,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",296 day,52.360576,4.915968,0
98,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,9/19/2016,7.7,Hotel Arena,United Kingdom,Got charged 50 for a birthday package when it...,112,1403,0,1,5.0,"[' Leisure trip ', ' Couple ', ' Large King Ro...",318 day,52.360576,4.915968,0
100,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,9/18/2016,7.7,Hotel Arena,United Kingdom,Building work starting at 7am waking us up no...,40,1403,2,1,5.0,"[' Leisure trip ', ' Group ', ' Duplex Double ...",319 day,52.360576,4.915968,0
101,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,9/12/2016,7.7,Hotel Arena,United Kingdom,Hotel is having some construction work done t...,56,1403,28,5,4.6,"[' Business trip ', ' Solo traveler ', ' Duple...",325 day,52.360576,4.915968,0
107,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/26/2016,7.7,Hotel Arena,United States of America,No Limited A C in common areas Dangerous meta...,52,1403,6,1,3.8,"[' Business trip ', ' Couple ', ' Duplex Doubl...",373 day,52.360576,4.915968,0
120,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/5/2016,7.7,Hotel Arena,United Kingdom,Major construction work underway next door as...,75,1403,36,2,4.6,"[' Leisure trip ', ' Couple ', ' Duplex Double...",424 day,52.360576,4.915968,0
122,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/1/2016,7.7,Hotel Arena,Luxembourg,The bathroom has cristal walls and it is not ...,21,1403,12,9,4.2,"[' Leisure trip ', ' Couple ', ' Duplex Double...",428 day,52.360576,4.915968,0
124,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/22/2016,7.7,Hotel Arena,Ireland,The shower was useless and when it worked it ...,126,1403,6,2,4.6,"[' Leisure trip ', ' Couple ', ' Duplex Double...",438 day,52.360576,4.915968,0
134,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/1/2016,7.7,Hotel Arena,Australia,Foyer was a mess Only place to relax was the ...,180,1403,0,6,4.6,"[' Leisure trip ', ' Couple ', ' Duplex Double...",459 day,52.360576,4.915968,0
143,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,4/19/2016,7.7,Hotel Arena,Switzerland,The interiors are looking quite tired and the...,36,1403,19,16,5.4,"[' Leisure trip ', ' Couple ', ' Duplex Double...",471 day,52.360576,4.915968,0
146,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,4/12/2016,7.7,Hotel Arena,United Kingdom,We booked a 3 night stay in a suite On arriva...,195,1403,0,1,2.5,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",478 day,52.360576,4.915968,0
147,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,4/7/2016,7.7,Hotel Arena,United Kingdom,The noise of the construction works that bega...,29,1403,15,5,5.4,"[' Leisure trip ', ' Couple ', ' Duplex Double...",483 day,52.360576,4.915968,0
157,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,3/12/2016,7.7,Hotel Arena,United Kingdom,The first night we got there we where put in ...,145,1403,94,1,5.0,"[' Leisure trip ', ' Couple ', ' Duplex Double...",509 day,52.360576,4.915968,0
159,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,3/1/2016,7.7,Hotel Arena,Finland,the hotel was in a bad condition Not really c...,44,1403,5,1,4.2,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",520 day,52.360576,4.915968,0
162,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2/29/2016,7.7,Hotel Arena,United Kingdom,The room we were given originally wasn t very...,51,1403,8,1,5.0,"[' Leisure trip ', ' Couple ', ' Duplex Double...",521 day,52.360576,4.915968,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515493,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,10/21/2016,8.1,Atlantis Hotel Vienna,United Arab Emirates,Getting into the room is a nightmare you have...,55,2823,7,8,3.8,"[' Leisure trip ', ' Family with young childre...",286 day,48.203745,16.335677,0
515494,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,10/7/2016,8.1,Atlantis Hotel Vienna,United States of America,I cannot see why this hotel can be rated with...,97,2823,0,1,4.2,"[' Business trip ', ' Solo traveler ', ' Stand...",300 day,48.203745,16.335677,0
515502,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,9/8/2016,8.1,Atlantis Hotel Vienna,Poland,I had to wait for 20 minuts in the lobby to b...,63,2823,8,4,5.0,"[' Leisure trip ', ' Family with young childre...",329 day,48.203745,16.335677,0
515515,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,7/26/2016,8.1,Atlantis Hotel Vienna,Belgium,The neighborhood is really not a nice area We...,64,2823,11,1,5.0,"[' Leisure trip ', ' Family with older childre...",373 day,48.203745,16.335677,0
515516,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,7/15/2016,8.1,Atlantis Hotel Vienna,United States of America,AC was not initially working at all After the...,25,2823,9,3,5.0,"[' Leisure trip ', ' Family with older childre...",384 day,48.203745,16.335677,0
515517,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,7/14/2016,8.1,Atlantis Hotel Vienna,Hungary,Bored staff loud and non controllable air con...,26,2823,5,14,3.3,"[' Leisure trip ', ' Couple ', ' Standard Doub...",385 day,48.203745,16.335677,0
515528,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,6/18/2016,8.1,Atlantis Hotel Vienna,India,We were kept down the road in another buildin...,121,2823,4,9,3.8,"[' Leisure trip ', ' Couple ', ' Standard Doub...",411 day,48.203745,16.335677,0
515529,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,6/16/2016,8.1,Atlantis Hotel Vienna,Canada,When we checked in we found out that the air ...,102,2823,0,3,3.3,"[' Leisure trip ', ' Family with older childre...",413 day,48.203745,16.335677,0
515537,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,5/12/2016,8.1,Atlantis Hotel Vienna,Croatia,It would be OK for 3 star hotel but not for 4...,41,2823,2,7,4.6,"[' Leisure trip ', ' Couple ', ' Standard Doub...",448 day,48.203745,16.335677,0
515538,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,5/10/2016,8.1,Atlantis Hotel Vienna,Australia,We stayed in a building that was outside the ...,71,2823,13,4,4.6,"[' Leisure trip ', ' Family with older childre...",450 day,48.203745,16.335677,0
515547,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,1/5/2016,8.1,Atlantis Hotel Vienna,Luxembourg,No free parking Overpriced breakfast Not conv...,132,2823,8,31,5.0,"[' With a pet ', ' Leisure trip ', ' Couple ',...",576 day,48.203745,16.335677,0
515551,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,10/13/2015,8.1,Atlantis Hotel Vienna,Italy,very bad experience After I left the hotel I ...,51,2823,0,3,4.6,"[' Leisure trip ', ' Family with young childre...",660 day,48.203745,16.335677,0
515559,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/24/2015,8.1,Atlantis Hotel Vienna,Latvia,First we ve got a room where still were some ...,44,2823,33,7,4.2,"[' Leisure trip ', ' Couple ', ' Standard Doub...",710 day,48.203745,16.335677,0
515563,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,7/27/2017,8.1,Atlantis Hotel Vienna,Israel,There was no internet connection The telephon...,23,2823,0,3,4.6,"[' Leisure trip ', ' Group ', ' Family Room ',...",7 days,48.203745,16.335677,0
515579,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,6/18/2017,8.1,Atlantis Hotel Vienna,United Kingdom,The district no pavement cafes Unfriendly Res...,15,2823,9,8,3.8,"[' Leisure trip ', ' Family with young childre...",46 days,48.203745,16.335677,0
515584,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,6/5/2017,8.1,Atlantis Hotel Vienna,Croatia,Unpleaseant staff at the reception,6,2823,0,2,5.0,"[' Leisure trip ', ' Family with young childre...",59 days,48.203745,16.335677,0
515587,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,5/30/2017,8.1,Atlantis Hotel Vienna,Serbia,Weird hotel layout maybe because of ongoing r...,21,2823,5,3,5.4,"[' Business trip ', ' Couple ', ' Standard Dou...",65 days,48.203745,16.335677,0
515595,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,5/17/2017,8.1,Atlantis Hotel Vienna,Australia,8am wake up from hotel repairs very rude staff,10,2823,12,6,2.9,"[' Business trip ', ' Group ', ' Standard Trip...",78 days,48.203745,16.335677,0
515600,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,5/1/2017,8.1,Atlantis Hotel Vienna,Netherlands,Rooms were too hot and the hotel didnot had AC,11,2823,0,9,4.6,"[' Business trip ', ' Group ', ' Standard Doub...",94 days,48.203745,16.335677,0
515607,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,3/5/2017,8.1,Atlantis Hotel Vienna,Belgium,I couldn t sleep because it s too noisy,11,2823,0,6,4.2,"[' Leisure trip ', ' Family with young childre...",151 day,48.203745,16.335677,0
515621,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,1/27/2017,8.1,Atlantis Hotel Vienna,Romania,The room was vert small not a 4 hotel,11,2823,0,9,4.2,"[' Leisure trip ', ' Solo traveler ', ' Standa...",188 day,48.203745,16.335677,0
515644,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,12/10/2016,8.1,Atlantis Hotel Vienna,United Kingdom,All beds are twin beds basically and it is de...,23,2823,7,7,5.4,"[' Leisure trip ', ' Couple ', ' Standard Doub...",236 day,48.203745,16.335677,0
515653,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,10/17/2016,8.1,Atlantis Hotel Vienna,Slovakia,Completely uncomfortable bed noise on the str...,21,2823,0,33,5.4,"[' Leisure trip ', ' Couple ', ' Standard Doub...",290 day,48.203745,16.335677,0
515661,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,9/24/2016,8.1,Atlantis Hotel Vienna,France,Can t even stop the car to unload in front of...,23,2823,0,6,3.8,"[' Leisure trip ', ' Family with young childre...",313 day,48.203745,16.335677,0
515677,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2016,8.1,Atlantis Hotel Vienna,Germany,Being 4star hotel except breakfast,7,2823,2,11,3.8,"[' Leisure trip ', ' Family with older childre...",349 day,48.203745,16.335677,0
515693,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,7/4/2016,8.1,Atlantis Hotel Vienna,United Arab Emirates,Since there is no room service they should pr...,18,2823,5,7,5.0,"[' Leisure trip ', ' Couple ', ' Standard Doub...",395 day,48.203745,16.335677,0
515700,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,5/29/2016,8.1,Atlantis Hotel Vienna,Russia,Room vas located in different building with n...,25,2823,0,2,3.8,"[' Business trip ', ' Solo traveler ', ' Stand...",431 day,48.203745,16.335677,0
515726,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,9/28/2015,8.1,Atlantis Hotel Vienna,Kosovo,They put other fotos and cinde of rooms to se...,21,2823,5,34,5.4,"[' Business trip ', ' Couple ', ' Standard Dou...",675 day,48.203745,16.335677,0
515728,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,9/27/2015,8.1,Atlantis Hotel Vienna,Qatar,Everything,2,2823,2,1,4.2,"[' Leisure trip ', ' Couple ', ' Standard Doub...",676 day,48.203745,16.335677,0
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677,0

### After some initial selection cleaning the result should be written away as a Review_pos.csv and Review_neg.csv
Below code will transform the postive and negative df's to a CSV-file.

In [5]:
positive.to_csv(r'./data/Review_pos.csv', index=None, header=True)
negative.to_csv(r'./data/Review_neg.csv', index=None, header=True)

As told earlier, the dataframes need to be concatinated back together to from a complete df including the sentiment values.

In [6]:
df = pd.concat([positive, negative], sort=False)

### There should be a collection of balanced set of reviews, for instance a collection consisting of 10.000 positive and 10.000 negative reviews having a least the following structure
* Review
* Sentiment

Code below samples the positive and negative collections with 10K records each. These and the full collection will be filled into the MongoDB instance using the Collection class:
```python
class Collection:
    def __init__(self, df, collection):
        self.client = MongoClient('mongodb://localhost:27017')  # Init mongoclient
        self.db = self.client['assignment-2']  # Assign db name
        self.df = df
        self.collection = collection
        self.conn = self.db[self.collection]

    def fill(self):
        dict = self.df.to_dict(orient='records')
        self.conn.delete_many({ })    # Clear collection using an empty filter.
        self.conn.insert_many(dict)
```

In [7]:
Collection(df, 'hotel-reviews').fill()    # Fill mongo with complete df
Collection(positive[['Review_Text', 'Sentiment']].sample(n=10000), 'pos').fill()
Collection(negative[['Review_Text', 'Sentiment']].sample(n=10000), 'neg').fill()